# Ignore VS Code settings
.vscode/

# Ignore Conda environment folder (if using local environments)
env/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter notebook checkpoints (if applicable)
.ipynb_checkpoints/